.form-container{
    width:420px;
    margin:80px auto;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.form-container h2{
    text-align:center;
    margin-bottom:25px;
}

.form-container input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:1px solid #ddd;
    border-radius:8px;
}

.form-container button{
    width:100%;
    padding:14px;
    border:none;
    background:#123458;
    color:white;
    border-radius:8px;
    cursor:pointer;
}